<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>SkillExchange</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.zgy.skillexchange.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>  
    	<servlet-name>LoginServlet</servlet-name>  
   		<url-pattern>/LoginServlet</url-pattern>  
  </servlet-mapping> 
  
    <servlet>
		<servlet-name>UavatarServlet</servlet-name>
		<servlet-class>com.zgy.skillexchange.servlet.UavatarServlet</servlet-class>
	</servlet>
	<servlet-mapping>  
    	<servlet-name>UavatarServlet</servlet-name>  
   		<url-pattern>/UavatarServlet</url-pattern>  
  </servlet-mapping> 
  
    <servlet>
		<servlet-name>UavatarUpdateServlet</servlet-name>
		<servlet-class>com.zgy.skillexchange.servlet.UavatarUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>  
    	<servlet-name>UavatarUpdateServlet</servlet-name>  
   		<url-pattern>/UavatarUpdateServlet</url-pattern>  
    </servlet-mapping> 
  
    <servlet>
		<servlet-name>UserInfoServlet</servlet-name>
		<servlet-class>com.zgy.skillexchange.servlet.UserInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>  
    	<servlet-name>UserInfoServlet</servlet-name>  
   		<url-pattern>/UserInfoServlet</url-pattern>  
    </servlet-mapping> 
    
    <servlet>
		<servlet-name>ShowTaskServlet</servlet-name>
		<servlet-class>com.zgy.skillexchange.servlet.ShowTaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>  
    	<servlet-name>ShowTaskServlet</servlet-name>  
   		<url-pattern>/ShowTaskServlet</url-pattern>  
    </servlet-mapping> 
    
    <servlet>
		<servlet-name>ShowDarenServlet</servlet-name>
		<servlet-class>com.zgy.skillexchange.servlet.ShowDarenServlet</servlet-class>
	</servlet>
	<servlet-mapping>  
    	<servlet-name>ShowDarenServlet</servlet-name>  
   		<url-pattern>/ShowDarenServlet</url-pattern>  
    </servlet-mapping> 
    
    <servlet>
		<servlet-name>UidServlet</servlet-name>
		<servlet-class>com.zgy.skillexchange.servlet.UidServlet</servlet-class>
	</servlet>
	<servlet-mapping>  
    	<servlet-name>UidServlet</servlet-name>  
   		<url-pattern>/UidServlet</url-pattern>  
    </servlet-mapping> 
    
    <servlet>
		<servlet-name>AddskillServlet</servlet-name>
		<servlet-class>com.zgy.skillexchange.servlet.AddskillServlet</servlet-class>
	</servlet>
	<servlet-mapping>  
    	<servlet-name>AddskillServlet</servlet-name>  
   		<url-pattern>/AddskillServlet</url-pattern>  
    </servlet-mapping> 
    
    <servlet>
		<servlet-name>DarenDetailsServlet</servlet-name>
		<servlet-class>com.zgy.skillexchange.servlet.DarenDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>  
    	<servlet-name>DarenDetailsServlet</servlet-name>  
   		<url-pattern>/DarenDetailsServlet</url-pattern>  
    </servlet-mapping> 
    <servlet>
		<servlet-name>ShowEvaluationServlet</servlet-name>
		<servlet-class>com.zgy.skillexchange.servlet.ShowEvaluationServlet</servlet-class>
	</servlet>
	<servlet-mapping>  
    	<servlet-name>ShowEvaluationServlet</servlet-name>  
   		<url-pattern>/ShowEvaluationServlet</url-pattern>  
    </servlet-mapping> 
    <servlet>
		<servlet-name>ShowTaskDetailServlet</servlet-name>
		<servlet-class>com.zgy.skillexchange.servlet.ShowTaskDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>  
    	<servlet-name>ShowTaskDetailServlet</servlet-name>  
   		<url-pattern>/ShowTaskDetailServlet</url-pattern>  
    </servlet-mapping> 
     <servlet>
		<servlet-name>TaskJieBaServlet</servlet-name>
		<servlet-class>com.zgy.skillexchange.servlet.TaskJieBaServlet</servlet-class>
	</servlet>
	<servlet-mapping>  
    	<servlet-name>TaskJieBaServlet</servlet-name>  
   		<url-pattern>/TaskJieBaServlet</url-pattern>  
    </servlet-mapping> 
	<servlet>
		<servlet-name>KuJieBaServlet</servlet-name>
		<servlet-class>com.zgy.skillexchange.servlet.KuJieBaServlet</servlet-class>
	</servlet>
	<servlet-mapping>  
    	<servlet-name>KuJieBaServlet</servlet-name>  
   		<url-pattern>/KuJieBaServlet</url-pattern>  
    </servlet-mapping> 
    <servlet>
		<servlet-name>TaskInsertServlet</servlet-name>
		<servlet-class>com.zgy.skillexchange.servlet.TaskInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>  
    	<servlet-name>TaskInsertServlet</servlet-name>  
   		<url-pattern>/TaskInsertServlet</url-pattern>  
    </servlet-mapping> 
    <servlet>
		<servlet-name>MyEvaluationServlet</servlet-name>
		<servlet-class>com.zgy.skillexchange.servlet.MyEvaluationServlet</servlet-class>
	</servlet>
	<servlet-mapping>  
    	<servlet-name>MyEvaluationServlet</servlet-name>  
   		<url-pattern>/MyEvaluationServlet</url-pattern>  
    </servlet-mapping> 
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.zgy.skillexchange.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>  
    	<servlet-name>RegisterServlet</servlet-name>  
   		<url-pattern>/RegisterServlet</url-pattern>  
    </servlet-mapping> 

</web-app>